.sidebar ul, .sidebar ul li {
    margin-left: 4%;
}
.sidebar-nav ul li ul li::before {
    top: 11px !important;
}
.sidebar-nav>ul>li ul {
    display: none;
}
.app-sub-sidebar {
    display: none;
}
.app-sub-sidebar.open {
    display: block;
}
.sidebar-nav ul:not(.app-sub-sidebar)>li.folder.open::before {
    top: 8px;
}
.sidebar-nav ul:not(.app-sub-sidebar)>li:not(.file)::before {
    top: 11px;
}
.sidebar-nav ul>li.folder.level-2.open::before {
    top: 8px !important;
}
li.folder.level-2 {
    color: #505d6b;
    font-size: 14px;
    font-weight: 400;
    /* overflow: hidden; */
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
